/discovery.aux
/discovery.bbl
/discovery.bcf
/discovery.blg
/discovery.fdb_latexmk
/discovery.fls
/discovery.latexmk.log
/discovery.log
/discovery.pdf
/discovery.run.xml
/discovery.synctex.gz
/instructions.tex

/.discovery.lb
/.discovery.watcher_pid
